{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}
    
    <div id="container">
        <div id="inner">        
            <div class="child"> <img class="img" src="{{item.image_file}}"></div>
                <div class="des">
                    <h3>{{item.name}}</h3>
                    {% if item.sold %}
                    <p>Lorem ipsum dolor sit amet...</p>
                        {% if item.highest_bid.bid_by == item.user %}
                            <h6>Item unsold, Listing Closed</h6>
                        {% else %}
                            <h6>SOLD for ${{item.highest_bid.bid}} to {{item.highest_bid.bid_by.username}}</h6>  
                        {% endif %}
                    {% else %}   
                        <h6>Current Price: ${{item.highest_bid.bid}}</h6>
                        <p>Lorem ipsum dolor sit amet...</p>
                        {% if lower %}
                            <h6>Error, amount lower than the current highest bid. To win this item you will need an amount higher than ${{item.highest_bid.bid}}</h6>
                        {% endif %}
                        {% if myitem  == False %}
                                {% if last_bidder %}
                                </br></br>
                                    <p>The last bid was made by you.</p>
                                {% else %}
                                    <form action= "/{{item.id}}/confirm_bid" method = "POST">
                                    {% csrf_token %}
                                        <input type="text" id="amount" placeholder ="Bid Amount" name = "amount"><br><br>
                                        <input type="submit" value="Place bid">
                                    </form>
                                {% endif %}
                                {% if exists == False %}
                                    <button onclick="window.location.href='/{{item.id}}/insert_watchlist'">Add to Watchlist</button>
                                {% else %}
                                    <button onclick="window.location.href='/{{item.id}}/removefrom_watchlist'">Remove from Watchlist</button>
                                {% endif %}
                            {% else %}
                            </br></br></br>
                            {% if item.highest_bid.bid_by == item.user %}
                                <p>No Current Bid</p>
                            {% else %}
                                <p>Highest bid currently is ${{item.highest_bid.bid}} by {{item.highest_bid.bid_by.username}}</p>
                            {% endif %}
                        
                        <p>Do you want to close the listing?</p>
                        <button onclick="window.location.href='/{{item.id}}/close-item'">Close listing</button>
                        {% endif %}

                    {% endif %}
                    
                    
                </div>
            <div class="child"></div>
        </div>

    </div>

{% endblock %}